<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.g00fy2.developerwidget">

  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name=".DevWidgetApp"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="false"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">

    <activity
        android:name=".activities.apkinstall.ApkActivity"
        android:excludeFromRecents="true"
        android:label="@string/install_apk"
        android:launchMode="singleTask"
        android:noHistory="true"
        android:taskAffinity=""
        android:theme="@style/DialogTheme"/>

    <activity
        android:name=".activities.appmanager.AppsActivity"
        android:excludeFromRecents="true"
        android:label="@string/install_apk"
        android:launchMode="singleTask"
        android:noHistory="true"
        android:taskAffinity=""
        android:theme="@style/DialogTheme"/>

    <activity
        android:name=".activities.widgetconfig.WidgetConfigActivity"
        android:autoRemoveFromRecents="true"
        android:screenOrientation="portrait"
        tools:targetApi="lollipop">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
          android:name="android.app.shortcuts"
          android:resource="@xml/shortcuts"/>
    </activity>

    <activity
        android:name=".activities.about.AboutActivity"
        android:label="@string/about"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".activities.shortcut.CreateShortcutActivity"
        android:enabled="@bool/shortcut_support"
        android:label="@string/create_shortcut"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.CREATE_SHORTCUT"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".activities.shortcut.ShortcutRouterActivity"
        android:enabled="@bool/shortcut_support"
        android:launchMode="singleTask"
        android:taskAffinity=""
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    <receiver android:name=".receiver.widget.WidgetProviderImpl">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/appwidget_info"/>
    </receiver>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths"/>
    </provider>

  </application>

</manifest>

