<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.g00fy2.developerwidget">

  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:name=".DevWidgetApp"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">

    <activity
        android:name="de.g00fy2.developerwidget.activities.apkinstall.ApkActivity"
        android:excludeFromRecents="true"
        android:label="@string/install_apk"
        android:launchMode="singleTask"
        android:noHistory="true"
        android:taskAffinity=""
        android:theme="@style/DialogTheme"/>

    <activity
      android:name="de.g00fy2.developerwidget.activities.appsettings.AppsActivity"
      android:excludeFromRecents="true"
      android:label="@string/install_apk"
      android:launchMode="singleTask"
      android:noHistory="true"
      android:taskAffinity=""
      android:theme="@style/DialogTheme"/>

    <activity
        android:name="de.g00fy2.developerwidget.activities.widget.WidgetConfigActivity"
        android:autoRemoveFromRecents="true"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        tools:targetApi="lollipop">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
      </intent-filter>
    </activity>

    <activity
        android:name="de.g00fy2.developerwidget.activities.about.AboutActivity"
        android:label="@string/about"
        android:screenOrientation="portrait"/>

    <receiver android:name="de.g00fy2.developerwidget.activities.widget.WidgetProvider">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/appwidget_info"/>
    </receiver>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths"/>
    </provider>

  </application>

</manifest>

